<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a><span class="d-inline-block icon-width oi oi-home"></span>Home</a>
            </li>
        </ol>
    </nav>
</div>