<!-- Footer -->
<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <div class="footer-pad">
                        <address>
                            <strong>Bertofern, Inc.</strong><br />
                            <span class="oi oi-location"></span> Av. Xxxxx, XX XX<br />
                            Figueres, GI 17600<br />
                            <abbr title="Phone"></abbr><span class="oi oi-phone"></span> (123) 456-7890
                        </address>
                        <address>
                            <strong>Albert Fernández Martínez</strong><br />
                            <a href="mailto:bertofern@gmail.com"><span class="oi oi-envelope-closed"></span> bertofern@gmail.com</a>
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="footer-pad text-center">
                        <h5>Heading 1</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!">Información</a></li>
                            <li><a href="#!">Aviso Legal</a></li>
                            <li><a href="#!">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="footer-pad text-center">
                        <h5>Heading 2</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!">Link 1</a></li>
                            <li><a href="#!">Link 2</a></li>
                            <li><a href="#!">Link 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2  col-sm-6 col-6" style="padding-bottom: 10px;">
                    <h5>Follow Us</h5>
                    <ul class="social-network social-circle" style="padding-bottom: 5px;">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2020 - <a href="https://bertofern.wordpress.com">
                            bertofern.wordpress.com</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>