<div class="card mb-3">
  <img class="card-img-top" [src]="destino.imageUrl" alt="{{ destino.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ destino.title }}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">ID: {{ destino.id }}</small></p>
  </div>
</div>
<!-- https://www.mapbox.com/ -->
<mgl-map [style]="style" [zoom]="[1]">
  <mgl-marker [lngLat]="[-75.551012, 10.421185]">
    <div onclick="alert('Hola')" class="marker">Aqui</div>
  </mgl-marker>
</mgl-map>