<nav class="navbar navbar-expand-lg navbar-dark shadow-sm bg-light fixed-top">
    <div class="container">
        <a routerLink="/" class="navbar-brand">
            <img src="" width="auto" height="30" class="d-inline-block align-top" alt="" loading="lazy" />
        </a>
        <a class="navbar-brand d-flex align-items-center" routerLink="/"><span class="ml-3 font-weight-bold">BertoFern</span></a>
        <button id="collapse" class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav mr-auto pl-lg-4">
                <li class="nav-item px-lg-2 active">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"><span class="d-inline-block d-lg-none icon-width oi oi-home"></span>Home</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" routerLink="/reservas" routerLinkActive="active"><span class="d-inline-block d-lg-none icon-width oi oi-briefcase"></span>Reservas</a>
                </li>
                <!-- <li class="nav-item px-lg-2">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active"><span class="d-inline-block d-lg-none icon-width oi oi-envelope-closed"></span>Contact</a>
                </li> -->
            </ul>
            <ul class="navbar-nav mr-auto pl-lg-4">
                <li class="nav-item px-lg-2">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active"><span class="d-inline-block d-lg-none icon-width oi oi-briefcase"></span>Login</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" routerLink="/protected" routerLinkActive="active"><span class="d-inline-block d-lg-none icon-width oi oi-briefcase"></span>Protected</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" routerLink="/vuelos" routerLinkActive="active"><span class="d-inline-block d-lg-none icon-width oi oi-briefcase"></span>Vuelos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
                <li class="nav-item"> <a class="nav-link" href="#">
                    <i class="fab fa-twitter"></i><span class="d-lg-none ml-3">Twitter</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">
                    <i class="fab fa-facebook"></i><span class="d-lg-none ml-3">Facebook</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">
                    <i class="fab fa-instagram"></i><span class="d-lg-none ml-3">Instagram</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">
                    <i class="fab fa-linkedin"></i><span class="d-lg-none ml-3">Linkedin</span></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>