<form
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['title'].value, fg.controls['imageUrl'].value)" >
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" class="form-control" id="title" placeholder="Ingresar nombre..." 
                [formControl]="fg.controls['title']">
                <ul>
                    <li *ngFor="let r of searchResults">{{r}}</li>
                </ul>
                <!-- <small *ngIf="!fg.controls['title'].valid" class="form-text text-muted">Introduce un nombre.</small> -->
                <small *ngIf="fg.controls['title'].hasError('required')" class="form-text text-muted">Nombre requerido.</small>
                <small *ngIf="fg.controls['title'].hasError('invalidTitle')" class="form-text text-muted">Nombre invalido.</small>
                <small *ngIf="fg.controls['title'].hasError('nimLongTitle')" class="form-text text-muted">El nombre debe tener al menos {{minLong}} caracteres.</small>
            </div>
        </div>
        <div class="col-sm-6 col-12"> 
            <div class="form-group">
                <label for="imageUrl">Imagen Url</label>
                <input type="text" class="form-control" id="imageUrl" placeholder="Ingresar url..." 
                [formControl]="fg.controls['imageUrl']">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
        </div>
    </div>
</form>


<!-- <form>
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" class="form-control" id="title" placeholder="Ingresar nombre..." #title>
            </div>
        </div>
        <div class="col-sm-6 col-12"> 
            <div class="form-group">
                <label for="imageUrl">Imagen Url</label>
                <input type="text" class="form-control" id="imageUrl" placeholder="Ingresar url..." #imageUrl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" (click)="guardar(title.value, imageUrl.value)">Guardar!</button>
        </div>
    </div>
</form> -->