<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Proyecto "appAngular10"</h1>
        <p class="lead">by Albert Fernández Martínez</p>
        <p class="lead">Para el curso de "Full Stack Web Development" - Universidad Austral - coursera.org</p>
    </div>
</div>