<div class="row">
    <div class="col-12">
    <span class="anchor" id="formLogin"></span>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
            <app-form-destino (onItemAdded)="agregado($event)"></app-form-destino>
        </div>
    </div>
</div>
</div>
<hr class="mb-5">
<div class="row">
    <app-destino-card 
    *ngFor="let d of all; let i=index"
    [destino]="d" 
    [idx]=i+1
    (clicked)="elegido($event)"
    appEspiame
    ></app-destino-card>
</div>
<hr class="mb-5">
<div class="row">
    <h5>Actividad</h5>
    <ul>
        <li *ngFor="let u of updates">{{u}}</li>
    </ul>
</div>
<hr class="mb-5">
<div class="row">
    <p>Fecha: {{ time | async }}</p>
</div>