<!-- <div id='oopss'>
    <div id='error-text'>
        <span>404</span>
        <p>PAGE NOT FOUND</p>
        <p class='hmpg'><a href='/' class="back">Back To Home</a></p>
    </div>
</div> -->

<div class="error-page">
    <div>
      <h1 data-h1="404">404</h1>
      <p data-p="NOT FOUND">NOT FOUND</p>
    </div>
  </div>
  <div id="particles-js"></div>
