<div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12">
        <form>
            <div class="form-group">
                <h1 class="text-center"><small>Contact with BertoFern, Inc.</small></h1>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="topic">Topic</label>
                <select class="form-control" id="topic">
                    <option disabled selected>Select a option</option>
                    <option>Services</option>
                    <option>After Sale </option>
                    <option>Job</option>
                    <option>Other</option>
                </select>
              </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label" for="check">I accept the <a href="#" >terms and conditions</a></label>
            </div>
            <div class="form-group" style="padding-top: 30px;">
                <a href="#" class="btn btn-dark btn-block">Send</a>
            </div>
        </form>
    </div>
</div>