<com-navbar></com-navbar>

<div style="float: right;">
    <br>
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
</div>

<com-jumbotron></com-jumbotron>
<com-breadcrumb></com-breadcrumb>

<div class="container">
    <h4>
        Traduccion: <b [innerHTML]="'HOLA' | translate"></b>
    </h4>
</div>

<div class="container">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Aprovecha este Black Friday!</strong> Descuentos asta el 20% en todos nuestros servicios.
        <a routerLink="/services" class="alert-link">Entra ya!</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<com-footer></com-footer>