<div class="card" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
      <!-- <img src="https://placeimg.com/380/230/nature" alt="Card image default"> -->
      <img [src]="destino.imageUrl" alt="{{ destino.title }}">
      <h5><span class="badge badge-info">{{ position }}</span></h5>
    </div>
    <div class="card-body">
      <h3>{{ destino.title }}</h3>
      <p class="card-text">Servicios</p>
        <ul>
          <li *ngFor="let s of destino.servicios">
            <span class="container" [ngSwitch]="s">
              <i *ngSwitchCase="'Desayuno'" style="color: rgb(244, 85, 0);">{{s}}</i>
              <i *ngSwitchDefault>{{s}}</i>
            </span>
          </li>
        </ul>
        <div>
          <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
            <i class="material-icons md-18">thumb_up</i>
          </a>
          &nbsp;
          <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
              <i class="material-icons md-18">thumb_down</i>
          </a>
          &nbsp;
          Votos: {{destino.votes}}
        </div>
        <button class="btn btn-dark btn-block" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Faborito</button>
        <span *ngIf="destino.isSelected()">
          <span ngNonBindable>{{ PREFERIDO }}</span>
        </span>
        <a [routerLink]="['/destino', destino.id]" class="btn btn-dark btn-block">Ver Detalle</a>
    </div>
  </div>
  
  
  <!-- <div class="card">
    <img class="card-img-top" [src]="destino.imageUrl" alt="Card image default">
    <span><h4>{{ destino.title }}</h4></span>
    <div class="card-body">
      <h5 class="card-title">{{ destino.title }}</h5>
      <p class="card-text">Servicios</p>
      <ul>
        <li *ngFor="let s of destino.servicios">
          <span [ngSwitch]="s">
            <i *ngSwitchCase="'Desayuno'" style="color: rgb(244, 85, 0);">{{s}}</i>
            <i *ngSwitchDefault>{{s}}</i>
          </span>
        </li>
      </ul>
      <button class="btn btn-dark btn-block" (click)="ir()">Ir</button>
      <span [style.display]="destino.isSelected() ? '' : 'none'">- PREFERIDO -</span>
      <span *ngIf="destino.isSelected()">
        <span ngNonBindable>{{ PREFERIDO }}</span>
      </span>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 1 week ago</small>
    </div>
  </div> -->