<div class="tab-content" id="myTabContent" style="padding-top:20px;">
    <div class="tab-pane fade show active" id="services-table" role="tabpanel"
        aria-labelledby="services-table-tab">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><span class="oi oi-star"></span></td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                class="oi oi-star"></span></td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                class="oi oi-star"></span><span class="oi oi-star"></span></td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                class="oi oi-star"></span><span class="oi oi-star"></span><span
                                class="oi oi-star"></span></td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="services-accordion" role="tabpanel" aria-labelledby="services-accordion-tab">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="services-colapse" role="tabpanel" aria-labelledby="services-colapse-tab">
        <div class="row equal justify-content-around">
            <div class="col-md-3 col-sm-6" style="margin-bottom: 15px;">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse"
                    data-target="#collapseProducto1" aria-expanded="false" aria-controls="collapseProducto1">
                    Producto 1
                </button>
                <div class="card collapse" id="collapseProducto1" style="margin-top: 15px;">
                    <img class="card-img-top" src="img/default.png" alt="Card image default">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="container">
                        <a href="#" class="btn btn-dark btn-block"
                        >Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 week ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 15px;">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse"
                    data-target="#collapseProducto2" aria-expanded="false" aria-controls="collapseProducto2">
                    Producto 2
                </button>
                <div class="card collapse" id="collapseProducto2" style="margin-top: 15px;">
                    <img class="card-img-top" src="img/default.png" alt="Card image default">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="container">
                        <a href="#" class="btn btn-dark btn-block">Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 5 days ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 15px;">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse"
                    data-target="#collapseProducto3" aria-expanded="false" aria-controls="collapseProducto3">
                    Producto 3
                </button>
                <div class="card collapse" id="collapseProducto3" style="margin-top: 15px;">
                    <img class="card-img-top" src="img/default.png" alt="Card image default">
                    <div class="card-body">
                        <h5 class="card-title">Producto 3</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="container">
                        <a href="#" class="btn btn-dark btn-block">Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 2 days ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="services-multicolapse" role="tabpanel" aria-labelledby="services-multicolapse-tab">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse"
                data-target=".multi-collapse" aria-expanded="false"
                aria-controls="collapseProducto4 collapseProducto5 collapseProducto6">Multi Colapse</button>
            </div>
            
        </div>
        <div class="row equal justify-content-around" style="margin-top: 15px;">
            <div class="col-md-3 col-sm-6" style="margin-bottom: 15px;">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse"
                    data-target="#collapseProducto4" aria-expanded="false" aria-controls="collapseProducto4">
                    Producto 4
                </button>
                <div class="card collapse multi-collapse" id="collapseProducto4" style="margin-top: 15px;">
                    <img class="card-img-top" src="img/default.png" alt="Card image default">
                    <div class="card-body">
                        <h5 class="card-title">Producto 4</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="container">
                        <a href="#" class="btn btn-dark btn-block">Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 week ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 15px;">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" 
                    data-target="#collapseProducto5" aria-expanded="false" aria-controls="collapseProducto5">
                    Producto 5
                </button>
                <div class="card collapse multi-collapse" id="collapseProducto5" style="margin-top: 15px;">
                    <img class="card-img-top" src="img/default.png" alt="Card image default">
                    <div class="card-body">
                        <h5 class="card-title">Producto 5</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="container">
                        <a href="#" class="btn btn-dark btn-block">Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 5 days ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 15px;">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" 
                    data-target="#collapseProducto6" aria-expanded="false" aria-controls="collapseProducto6">
                    Producto 6
                </button>
                <div class="card collapse multi-collapse" id="collapseProducto6" style="margin-top: 15px;">
                    <img class="card-img-top" src="img/default.png" alt="Card image default">
                    <div class="card-body">
                        <h5 class="card-title">Producto 6</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="container">
                        <a href="#" class="btn btn-dark btn-block">Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 2 days ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="services-modal" role="tabpanel" aria-labelledby="services-modal-tab">
        <a class="btn btn-dark" id="modal-btn" data-toggle="modal" data-target="#modal">Modal</a>
    </div>
</div>
